.choose-to-adopt {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  background-color: white;
}

.progress-bar {
  margin-bottom: 20px;
}

.progress-bar-image {
  width: 100%;
  max-width: 1000px;
}

.form-content {
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
  text-align: left;
}

.navigation-buttons button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.navigation-buttons button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}
