@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    font-family: 'Montserrat';
  }
  
  .card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 15px;
  }
  
  .card-content h3 {
    margin: 0 0 10px;
    color: #333;
  }
  
  .card-button {
    padding: 8px 12px;
    background-color: #6C63FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  